extends layout

block content
  .container.mt-5
    .alert.alert-danger.text-center
      h2.mb-3 Ошибка 404
      p.mb-4 Страница не найдена.
      a.btn.btn-primary(href='/') Вернуться на главную
