extends layout

block content
  .card.mt-4.mx-auto(style="max-width: 500px;")
    .card-body
      h5.card-title.text-center.mb-3 О приложении
      p.card-text.text-center.text-muted
        | Это учебное приложение ToDo List, созданное с использованием Express.js и Pug.
