extends layout

block content
  if todos.length
    ul.list-group
      each todo in todos
        li.list-group-item.d-flex.align-items-center.justify-content-between
          .d-flex.align-items-center.gap-2
            form(action='/' + todo.id + '/toggle', method='POST', class='d-inline')
              button.btn.btn-sm(
                type='submit',
                class=todo.completed ? 'btn-success' : 'btn-outline-secondary'
              ) #{todo.completed ? "✅" : "⬜"}
            span.ms-2 #{todo.title}
          form(action='/' + todo.id + '/delete', method='POST', class='d-inline')
            button.btn.btn-danger.btn-sm(type='submit') Удалить
  else
    p.text-muted Нет задач.
